In [359]:
import numpy as np
import pandas as pd

In [360]:
bill = pd.read_csv("/Users/anushka/Desktop/Decision Science_anushkaprakash - Intern/Customer Bill Detail.csv")
order = pd.read_csv("/Users/anushka/Desktop/Decision Science_anushkaprakash - Intern/Customer Order Item Details.csv")
pricing = pd.read_csv("/Users/anushka/Desktop/Decision Science_anushkaprakash - Intern/Market Pricing.csv")
pricing1 = pricing.copy()

In [361]:
print(pricing.shape)
pricing = pricing[pd.notnull(pricing['Rate'])]  #don't consider rows where price is not mentioned
pricing.shape

(6885, 5)

(6848, 5)

In [362]:
goli_menu_df = pd.DataFrame(columns = ['Menu Item','Rate'])  #new df to store only the given Goli items
for i in pricing.index:
    if pricing.loc[i,'Restaurant'] == 'Goli':
        goli_menu_df = goli_menu_df.append({'Menu Item':pricing.loc[i,'Menu Item'].strip(),'Rate':pricing.loc[i,'Rate']},ignore_index=True)

for i in goli_menu_df.index:    #correct inconsistencies
    if goli_menu_df.loc[i,'Menu Item'] == 'hicken Palak Full':
        goli_menu_df.loc[i,'Menu Item'] = 'Chicken Palak Full'
    elif goli_menu_df.loc[i,'Menu Item'] == 'Bread Omlatte':
        goli_menu_df.loc[i,'Menu Item'] = 'Bread Omlette'
    elif goli_menu_df.loc[i,'Menu Item'] == 'Omlatte':
        goli_menu_df.loc[i,'Menu Item'] = 'Omlette'
    goli_menu_df.loc[i,'Menu Item'] = goli_menu_df.loc[i,'Menu Item'].lower()

goli_menu = goli_menu_df['Menu Item'].unique()  #set of all Goli dishes
goli_menu_df.shape

(181, 2)

In [363]:
goli_menu.sort()
print(len(goli_menu))
goli_menu_lower = [i.lower() for i in goli_menu]
#goli_menu

167

In [364]:
pricing1 = pd.DataFrame(columns = ['Restaurant','Menu Header','Menu Item','Rate','What people love here'])  #new df containg all restaurent dishes except Goli 
for i in pricing.index:
    if pricing.loc[i,'Restaurant']!='Goli' and pricing.loc[i,'Menu Item'].lower() in goli_menu_lower:
        pricing1 = pricing1.append(pricing.loc[i])
for i in pricing1.index:
    pricing1.loc[i,'Menu Item'] = pricing1.loc[i,'Menu Item'].lower()

In [365]:
print(pricing1.shape)
pricing1.head()

(461, 5)

,Restaurant,Menu Header,Menu Item,Rate,What people love here
14,12 e,Non Veg Starters,tandoori chicken half,160,"Butter Chicken, Chicken Biryani"
25,12 e,Main Course - Veg,dal fry,120,"Butter Chicken, Chicken Biryani"
27,12 e,Main Course - Veg,dal makhani,150,"Butter Chicken, Chicken Biryani"
29,12 e,Main Course - Veg,paneer tikka masala,200,"Butter Chicken, Chicken Biryani"
42,12 e,Main Course - Veg,bhindi masala,170,"Butter Chicken, Chicken Biryani"

In [366]:
temp = pd.DataFrame(columns = ['Dish','Sum of Prices','Comp_count','Goli Rate'])
temp['Dish'] = goli_menu_lower
temp.fillna(0,inplace = True)
temp.set_index('Dish',inplace=True)
temp.head()

for i in pricing1.index:
    cost = int(pricing1.loc[i,'Rate'])
    temp.loc[pricing1.loc[i,'Menu Item'],'Sum of Prices'] += cost
    temp.loc[pricing1.loc[i,'Menu Item'],'Comp_count'] += 1

temp['Goli Rate'] = temp['Sum of Prices']/temp['Comp_count']
for i in temp.index:
    if temp.loc[i,'Sum of Prices'] == 0:
        for j in goli_menu_df.index:
            if goli_menu_df.loc[j,'Menu Item'] == i:
                temp.loc[i,'Goli Rate'] = goli_menu_df.loc[j,'Rate']
goli_final_menu = temp.drop(labels = ['Sum of Prices','Comp_count'],axis=1)
goli_final_menu

                                 Goli Rate
Dish
aloo gobhi                         123.333
aloo matar                             100
aloo palak                         105.833
aloo paratha                            37
bhindi masala                      143.333
bhuna chicken full                     280
bhuna chicken half                     150
bhuna mutton half                      280
bread omlette                           50
butter chicken full                    375
butter chicken half                    210
butter naan                        33.6087
butter tandoori roti                  15.2
cheese garlic paratha                   40
chicken afgani tikka half              120
chicken afghani tikka full             190
chicken amritsari tikka full           190
chicken amritsari tikka half           120
chicken chettinad full                 260
chicken chettinad half                 140
chicken curry full                     320
chicken curry half                     190
chicken fried rice                 186.941
chicken fry full                       300
chicken fry half                       160
chicken garlic tikka full              190
chicken garlic tikka half              120
chicken handi full                     340
chicken handi half                     190
chicken home style full                220
...                                    ...
plain rice full                         80
plain rice half                         50
pudina paratha                          36
rajma rice combo                       100
rayalaseema kodi kura full             250
rayalseema kodi kura half              140
roasted papad                         19.5
sev tamater                        133.333
special hyderabadi keema biryani       300
tadka khichdi                          120
tandoori chicken afgani half           190
tandoori chicken afghani full          320
tandoori chicken full                346.5
tandoori chicken half                  190
tandoori chicken kali mirch full       320
tandoori chicken kalimirch half        190
tandoori chicken pahadi full           320
tandoori chicken pahadi half           190
tandoori garlic chicken full           230
tandoori garlic chicken half           190
tandoori malai chicken full            320
tandoori malai chicken half            190
tandoori paratha                        15
tandoori roti                      13.1154
veg biryani                        144.909
veg manchurian                     141.105
veg platter                        356.667
veg pulav                              125
veg roll                                60
veg seekh kabab                      151.8

[167 rows x 1 columns]