In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
bill = pd.read_csv("/Users/anushka/Desktop/Decision Science - Intern/Customer Bill Detail.csv")
bill.head()

bill.drop(labels = ['Type','Date','Bill Number','Discount','Subtotal','Delivery Amt','Channel','Customer ID'], axis=1, inplace=True)
bill.head()

   Total Bill                                       Dish Details
0         500  Tandoori Roti (QTY-1.000),Tandoori Roti (QTY-1...
1         450  Tomato Soup (QTY-1.000),Masala Cheese Maggi (Q...
2         150  Lachchha Paratha (QTY-1.000),Chicken Nilgir (Q...
3         160   Hyderabadi Chicken Fry Piece Biryani (QTY-1.000)
4         160          Hyderabadi Mutton Dum Biryani (QTY-1.000)

In [3]:
df = pd.DataFrame(columns = ['Dish Combo','Count','Cost'])
for i in bill.index:
    a = bill.loc[i,'Dish Details']
    a = a.split(',')
    a = [i.split(' (')[0] for i in a]
    a = set(a)
    a = list(a)
    if len(a)>1:
        flag = 0
        j = 0
        tt = 0
        for j in df.index:
            flag = 0
            temp = df.loc[j,'Dish Combo']
            if len(a) == len(temp):
                for k in range(len(a)):
                    if a[k]!=temp[k]:
                        flag = 1
                if flag == 0:
                    tt = j
                    break
            else:
                flag = 1
        if flag == 1 or i==0:
            df = df.append({'Dish Combo':a,'Count':1,'Cost':bill.loc[i,'Total Bill']}, ignore_index=True)
        else:
            df.loc[tt,'Count'] +=1

In [4]:
df.sort_values('Count',inplace=True,ascending=False)
df['Cost'] = df['Cost']-0.05*df['Cost']
df

                                             Dish Combo Count    Cost
60                       [Tandoori Roti, Chicken Curry]   127   205.2
15                      [Tandoori Roti, Butter Chicken]    62   193.8
106                          [Tandoori Roti, Egg Curry]    44   140.6
70                [Tandoori Roti Butter, Chicken Curry]    43  213.75
378              [Butter Chicken, Tandoori Roti Butter]    36   256.5
176                     [Tandoori Roti, Kadhai Chicken]    33   277.4
232   [Hyderabadi Chicken Fry Piece Biryani, Hyderab...    26     456
353                   [Egg Curry, Tandoori Roti Butter]    24     152
249                      [Tandoori Roti, Chicken Handi]    23   186.2
38                  [Tandoori Roti, Chicken Home Style]    23   169.1
542                        [Butter Chicken, Butter nan]    17   218.5
411                         [Chicken Curry, Butter nan]    16  185.25
398   [Tandoori Chicken, Hyderabadi Mutton Dum Biryani]    15     304
177   [Tandoori Roti, Hyderabadi Chicken Fry Piece B...    15   288.8
381   [Hyderabadi Chicken Fry Piece Biryani, Veg Bir...    15   294.5
1065                       [Tandoori Roti, Sev Tamater]    14     209
380          [Tandoori Roti, Chicken Curry, Plain Rice]    13   387.6
262                     [Tandoori Roti, Chilly Chicken]    13   188.1
682                  [Tandoori Roti, Mutton Rogan Josh]    13   176.7
341   [Tandoori Chicken, Hyderabadi Chicken Fry Piec...    12     304
884                   [Tandoori Chicken, Chicken Curry]    12     266
209   [water bottle, Hyderabadi Chicken Fry Piece Bi...    12     190
47    [Hyderabadi Chicken Fry Piece Biryani, Cold Dr...    11     171
247   [Hyderabadi Chicken Fry Piece Biryani, Chicken...    11   256.5
6                     [Lachchha Paratha, Chicken Curry]    11     152
7                   [Tandoori Roti Butter, Sev Tamater]    10   180.5
815                        [Butter Chicken, Garlic Nan]    10     494
255   [Hyderabadi Chicken Fry Piece Biryani, Chicken...    10     266
529               [Chicken Handi, Tandoori Roti Butter]    10     209
345                         [Chicken Curry, Plain Rice]     9     190
...                                                 ...   ...     ...
1276  [Hyderabadi Chicken Fry Piece Biryani, Roasted...     1     190
1277          [water bottle, Veg Biryani, Paneer Tikka]     1   313.5
1279  [Tandoori Roti, Chicken Reshmi Kebab, Chicken ...     1   330.6
1280          [Cold Drink, Chole Bathure, Cold Drink s]     1     209
1281              [Egg Curry, Aloo Paratha, Jeera Rice]     1     228
1282           [rajma rice, Butter Chicken, Plain Rice]     1   313.5
1283    [Chole Kulche Amritsari, Cheese Garlic Paratha]     1     190
1284  [Veg Biryani, Chicken Malai Tikka, Hyderabadi ...     1  612.75
1263  [Egg Curry, Hyderabadi Chicken Fry Piece Birya...     1     494
1262  [Tandoori Roti, Fish Curry, Chicken Curry, Jee...     1   571.9
1261                      [Masala Papad, Chicken Curry]     1   142.5
1260                    [Butter Chicken, Chicken Roast]     1     361
1239  [water bottle, Hyderabadi Chicken Fry Piece Bi...     1   313.5
1240                     [Chicken Roll, Veg Manchurian]     1   218.5
1241  [Chicken Home Style, Fish Tikka, Tandoori Chic...     1    1007
1242     [Tandoori Chicken, Butter Chicken, Butter nan]     1     418
1243                 [Chicken Home Style, Keema Masala]     1     266
1244                          [Egg Roll, Chicken Curry]     1     285
1246                    [Tandoori Chicken, Chicken Fry]     1     304
1247  [Tandoori Chicken Kali Mirch, Tandoori Garlic ...     1     361
1248        [Lachchha Paratha, Butter nan, Sev Tamater]     1   180.5
1249  [Aloo Palak, Garlic Nan, Bhindi masala, Palak ...     1   545.3
1250  [Dal tadhka, Chicken Curry, Jeera Rice, Egg Cu...     1   769.5
1252             [Mutton Rogan Josh, Benjo, Butter nan]     1   237.5
1254  [Chicken Pahadi Tikka, Hyderabadi Chicken Fry ...     1   560.5
1255                [Chicken Palak, Chicken Manchurian]     1   275.5
1257            [Egg Curry, Fish Finger, Chicken Curry]     1     342
1258  [Mutton Bati, Paneer Garlic Tikka, Chicken Roast]     1   484.5
1259                      [Mutton Curry, Chicken Curry]     1   256.5
3177  [Mutton Bati, Butter Tawa Roti, Butter Khichdh...     1   851.2

[3178 rows x 3 columns]